version: '3'

services:
  web:
    build:
      context: ./ecommerce-app
      dockerfile: Dockerfile
    command: bash -c "python3.8 manage.py collectstatic --no-input && gunicorn ecommerce.wsgi:application --bind 0.0.0.0:3005"
    ports:
      - 3005:3005
    networks:
      - nginx_network

  nginx:
    build: ./nginx
    ports:
      - 80:80
    # volumes:
    # - static:/retailapp/src/products/static/
    depends_on:
      - web
    networks:
      - nginx_network
networks:
   nginx_network:
      driver: bridge
#volumes:
   #static:
